<!-- @note: We need role list on the ul bc of a VoiceOver bug -->
<!-- @see: https://gerardkcohen.me/writing/2017/voiceover-list-style-type.html -->
<!-- @see: https://tailwindcss.com/docs/preflight#accessibility-considerations -->
<ul role="list" class="list-unstyled has-background pad-32-64">
    <li class="center">
        <!-- @todo: figure out how to remove margin spacing when img is deleted -->
        <div class="pos-rel marg-32">
            <div class="tape tape-1"></div>
            <img class="sticky-note marg-32" src="https://live.staticflickr.com/8155/7666981476_338f6c89a3_b.jpg" alt="Pink axolotl up close." class="sticky-note">
            <div class="tape tape-2"></div>
        </div>
    </li>
    <li>
        <h3>steps to learn more about axolotls</h3>
        <ol class="indent">
            <li>research the species.</li>
            <li>find interesting facts.</li>
        </ol>
    </li>
    <li>
        <p>even more facts</p>
        <ul role="list" class="custom-list indent">
            <li>They can tell who their owners are!</li>
            <li>They know if they're owners around or not!</li>
        </ul>
    </li>
</ul>