<ul class="list-unstyled">
    <li class="center">
        <img src="https://live.staticflickr.com/8155/7666981476_338f6c89a3_b.jpg" alt="Pink axolotl up close.">
    </li>
    <li>
        <p>steps to learn more about axolotls</p>
        <ol class="indent">
            <li>research the species.</li>
            <li>find interesting facts.</li>
        </ol>
    </li>
    <li>
        <p>even more facts</p>
        <ul class="custom-list indent">
            <li>They can tell who their owners are!</li>
            <li>They know if they're owners around or not!</li>
        </ul>
    </li>
</ul>