<footer tabindex="-1" class="layout-center-column">
    <p class="made-with-love">
        Made with love by <a href="https://github.com/kelsS" target="_blank" class="new-tab">Kelsey<span aria-hidden="true">🐙</span><span class="visually-hidden">Goes to Github.com</span>
        </a>
    </p>

    <p id="copyright-info">kelsS: Copyright {% year %}</p>
</footer>