<footer tabindex="-1" class="layout-center-column">
    <div class="txt-linear-art-box">
        <h2 class="txt-lineart">
            <span class="tapered">This is the <code>footer</code> content</span></h2>
        <nav aria-label="footer">
            <a href="#" class="jello">styleguide <span aria-hidden="true">👽</span></a>
        </nav>
    </div>

    <p>Copyright {% year %}</p>
</footer>