<header tabindex="-1" class="layout-center-column">
    <nav aria-label="main nav">
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/blog/">Blog</a>
            </li>
            <li>
                <a href="/projects/">Projects</a>
            </li>
        </ul>
    </nav>
</header>