<header tabindex="-1" class="layout-center-column">
    <nav id="main-nav" aria-label="main nav">
        <ul class="list-unstyled">
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/blog/">Blog</a>
            </li>
            <li>
                <a href="/projects/">Projects</a>
            </li>
            <li>
                <a href="/resume">Resume</a>
            </li>
        </ul>
    </nav>
</header>