<header tabindex="-1" class="layout-center-column">
    <nav aria-label="main">
        <ul>
            <li>
                <a href="/" class="interactive logo jello txt-linear-art-box">

                    <span class="txt-lineart">a11y detective</span>

                    <span class="icon" aria-hidden="true">♿🔎</span>
                </a>
            </li>
            <li>
                <a href="/" class="interactive content-link jello">home <span class="icon" aria-hidden="true">🏠</span></a>
            </li>
            <li>
                <a href="/blog/" class="interactive content-link jello">braindump <span class="icon" aria-hidden="true">🧠</span></a>
            </li>
            <li>
                <a href="#" class="interactive content-link jello">projects <span class="icon" aria-hidden="true">📁</span></a>
            </li>
            <li>
                <a href="#" class="interactive content-link jello">resume <span class="icon" aria-hidden="true">📜</span></a>
            </li>
        </ul>
    </nav>
</header>