<div class="txt-area">
    <label for="address">Enter your address</label><br>
    <textarea placeholder="resizable text area" id="address" class="interactive jello" autocomplete="street-address"></textarea>
</div>