---
layout: 'base.njk'
---

<article class="blog-post" aria-labelledby="blog-post-title">
    <h2 id="blog-post-title">{{ title }}</h2>
    <figure>
        <img src="{{ image }}" alt="{{ imageAlt }}">
        <figcaption>
            {{ figCaption }}
        </figcaption>
    </figure>

    {{ content | safe }}
</article>