---
layout: 'base.njk'
title: Blog
---

<h2>Recent blog posts</h2>

<ul class="list-unstyled">
    {%- for post in collections.post | reverse -%}
        <li class="list-unstyled">
            {% include 'blog-post-snippet.njk' %}
        </li>
    {%- endfor -%}
</ul>