---
layout: 'base.njk'
title: Welcome A11y Detectives!
---

<h1>{{ title }}</h1>

<h2>Excited you are here!</h2>

<p>
    Here is an example paragraph. This is more text in the paragraph.
</p>

<section class="featured-blog-post">
    <ul class="list-unstyled">
        {%- for post in collections.featured | reverse -%}
            {% include 'blog-post-snippet.njk' %}
        {%- endfor -%}
    </ul>
</section>