---
layout: 'base.njk'
title: Welcome to the Resume portion of today's programming!
---

<h1>{{ title }}</h1>

<h2>Fresh hot resume right out of the oven, oh my!</h2>

<p>
    Here is an example paragraph. This is more text in the paragraph.
</p>

<section id="resume">
    <h2> Below thar be a resume</h2>

    <!-- todo: add digital version of resume and make it pdf download ready -->
</section>