/**
* App styles
*/

/* CSS variables */
:root {
  --gray: #e7e5e8;
  --white: #f8f8ff;
  --darkpurple: #951aa0;
  --black: #0f030f;
  --pink: #e75480;
  --magenta: magenta;
  /*
  // Triadic
  // #8b7499 + #a2b883 + #7ca8a9
  //
  // Analogous
  // #8b7499 + #a2b883 + #a97d7c
  */
  --green: #a2b883;
  --purple: #8b7499;
  --lightblue: #7ca8a9;
  --offred: #a97d7c;
}

/* !important is required */
[hidden] {
    display: none !important;
}

/* Screen reader only text */
.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}

.visually-hidden:not(:focus):not(:active) {
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    width: 1px;
    white-space: nowrap;
    /* Why we need this rule: https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe */
}

#app {
    height: 100vh;
    margin: 0;
    font-family: "JetBrains Mono", monospace;
    font-weight: bold;
    background-color: var(--black, #0f030f);
    color: var(--green, #a2b883);
    font-size: 16px;
    line-height: 1.5;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 1fr auto;
    /* grid-template-rows: 1fr 1fr 1fr; */
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "header header header"
        "main main main"
        "footer footer footer";
}

header {
    grid-area: header;
    align-self: stretch;
    border-bottom: 3px solid var(--green, #a2b883);
    border-radius: 5px 5px 0px 0px;
    text-shadow: 2px 4px 4px rgb(162 184 131 / 100%);
}

main {
    grid-area: main;
    background-color: var(--purple);
    overflow: auto;
    padding: 16px 5px 10px 5px;
}

footer {
    grid-area: footer;
    align-self: stretch;  
    border-top: 3px solid var(--green, #a2b883);
    border-radius: 0px 0px 5px 5px;
}

header,
footer {
    background-color: var(--black, #0f030f);
    color: var(--purple, #8b7499);
}

.layout-center-column {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}
  
h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--black, #0f030f);
}

h1 {
  text-align: center;
  margin: 25px 0;
  font-size: 30px;
  font-weight: bold;
}

h2 {
  font-size: 20px;
  font-weight: bold;
}

p {
  font-size: 16px;    
  color: var(--black, #0f030f);
}

.space-top {
  margin-top: 85px;
}

.space-bottom {
  margin-bottom: 85px;
}

img {
  max-width: 100%;
  margin-bottom: 16px;
  padding: 8px;
}

a img {
  cursor: pointer;
}

button {
  font-family: "JetBrains Mono", monospace !important;
  cursor: pointer;
}

a {
  color: var(--black, #0f030f);
  /* text-decoration: double;
  text-decoration-line: underline;
  text-decoration-thickness: 3px; */
  font-weight: bold;
  padding: 16px 5px 16px;
  border-radius: 5px;
  text-decoration: none;
}



a,
button {
  margin-bottom: 6px;
}

a:focus,
a:hover,
button:focus,
button:hover,
.new-tab:focus,
.new-tab:hover {
    outline: 10px double var(--green);
}

a {
  display: inline-block;
}

button {
    background-color: var(--green, #a2b883);
    color:  var(--black, #0f030f);
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 16px;
} 

.indent {
    padding-left: 3em;
}

.list-unstyled {
    list-style: none;
}

ul.custom-list li:before {
    content: "💚";
    float: left;
    margin: 0px 0 0 -46px;
    padding: 0 16px 0 0;
}

ul.custom-list li {
    position: relative;
    display: flex;
    align-items: center;
}

ul.custom-list {
    padding-left: 3em;
    list-style: none;
}

.made-with-love {
    font-size: 24px;
    text-align: center;
    text-shadow: 2px 7px 10px rgb(15 3 15 / 50%);
    color: var(--purple, #8b7499);
    
}

.made-with-love a {
    color: var(--purple, #8b7499);
}

.small-image {
    width: 300px;
    height: 100%;
}

.new-tab {
    text-decoration: none;
}

.new-tab:after {
    font-family: "Font Awesome 5 Free";
    content: "\f08e";
    position: relative;
    font-size: 16px;
    margin-left: -8px;
}

.link-icon:after {
    font-family: "Font Awesome 5 Free";
    content: "\f0c1";
    position: relative;
    font-size: 16px;
    margin-left: 8px;
}

#copyright-info {
    color: var(--purple, #8b7499);
}

#main-nav {
    display: flex;
}

#main-nav ul {
    display: flex;
}

#main-nav a {
    color: var(--green);
    text-decoration: none;
}